body {
  font-family: Arial, Helvetica, sans-serif;

  --primary-c: black;
  --secondary-c: gray;  
  --bg-c: rgb(255, 255, 255);
  --text-c: rgb(65, 66, 73);
  --shadow-c: rgba(95, 93, 174, 0.393);
  --empty-swatch-c: rgb(153, 153, 182);
  color: var(--text-c);
  background-color: var(--bg-c);

}

html {
  font-size: 18px;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin: 0 0 40px;
}

.btn {
  border-radius: 5px;
  background-color: var(--bg-c);
  padding: 10px 20px;
}

@media screen and (min-width: 601px) and (max-width: 800px){
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}