.gradient-section {
  padding: 30px;
}
.gradient-preview-box {
  width: 100%;
  height: 250px;
  border-radius: 12px;
  box-shadow: 2px 3px 10px var(--shadow-c);
  margin-bottom: 20px;
  border: 3px solid #fff; /* Чтобы видно было на белом фоне */
}

.gradient-controls {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  padding: 15px;
  background: var(--secondary-c); /* Твой серый фон */
  border-radius: 8px;
}

.angle-slider {
  flex: 1;
  cursor: pointer;
}

.css-output {
  font-family: monospace;
  background: #333;
  color: #0f0;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 20px;
  word-break: break-all;
  user-select: all; /* Чтобы легко выделять */
  font-size: 0.9rem;
}