header {
  position: fixed;
  max-width: 800px;
  width: 100%;
  transform: translateX(-50%);
  left: 50%;
  top: -20px;
  padding: 10px;
  padding-top: 30px;
  box-shadow: 0 3px 9px rgba(42, 41, 100, 0.412);
  border-radius: 0.7em;
  color: rgb(65, 66, 73);
  z-index: 10;
  background-color: var(--bg-c);
  user-select: none;
}

main {
  margin-top: 70px;
}

.nav-ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
}

header li {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: calc(100%);
  left: -30px;
  padding: 30px;
}

.dropdown-menu ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 3px 9px rgba(42, 41, 100, 0.412);
  border-radius: 0.7em;
  background-color: var(--bg-c);
  padding: 15px;
  list-style: none;
}


.dropdown-menu a {
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  gap: 20px;
}

.visible {
  display: unset;
}