.theory-section {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  line-height: 1.6;
}
.theory-section h1 {
  font-size: 2rem;
}
.theory-section h2,
.theory-section h3 {
  color: var(--text-c); 
  border-bottom: 2px solid var(--secondary-c); 
  padding-bottom: 5px;
  margin-top: 30px;
}
.term-list dt {
  font-weight: bold;
  color: var(--primary-c); 
  margin-top: 10px;
}
.term-list dd {
  margin-left: 20px;
}

.harmony-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  margin-top: 20px;
}
.harmony-card {
  background: var(--bg-c); 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--secondary-c);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mini-palette {
  display: flex;
  height: 40px;
  margin-top: 15px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #333;
}
.mini-palette div {
  flex: 1;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.psychology-list {
  margin: 10px 0 10px;
  list-style: none;
  padding: 0;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.psychology-list li {
  border-radius: 10px;
  overflow: hidden;
  height: 120px;

}

.psychology-list-heading {
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 1.3rem;
}

.psychology-list-meaning {
  background: rgba(0, 0, 0, 0.03);
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease;
  padding: 0 5px;
  height: fit-content;
}

.psychology-list li:hover .psychology-list-meaning {
  max-height: 100%;
}

img {
  width: 100%;
  min-height: 300px;
  object-fit: cover;
  display: block;
  margin: 20px auto;
}
