.editor-container {
  padding: 1rem;
  width: 100%;

}

.palette-editor {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
  height: auto;
  min-height: 70vh;
}

.palette-colors {
  flex: 1 1 800px;
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr)); 
  grid-auto-rows: minmax(80px, 1fr);
  min-height: 0;
  gap: 15px;
  margin: 0 auto;
}

.palette-item {
  border-radius: 0.4rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.3s ease;
  box-shadow: 2px 3px 10px var(--shadow-c);
  background-color: var(--empty-swatch-c);
  position: relative;
  min-height: 0;
}

.color-swatch {
  border: 3px solid #fff;
}

.add-color-btn {
  background: transparent;
  border: var(--empty-swatch-c) 4px dashed;
  box-shadow: none;
  color: var(--empty-swatch-c);
  font-size: 2.6rem;
  min-width: 0;
  min-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


.color-swatch:hover {
  transform: scale(1.05);
}

.palette-properties {
  width: 100vw;
  max-width: 500px;
  box-shadow: 1px 2px 4px 1px var(--shadow-c);
  padding: 20px;
  border-radius: 8px;
}

.color-input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

.color-swatch-btns-group {
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.color-swatch-btn {
  box-shadow: 0 0 3px 2px var(--shadow-c);
  opacity: 0;
  padding: 2px;
  transition: all 0.3s;
  background-color: var(--bg-c);
  color: var(--text-c);
  border-radius: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-swatch-btn svg {
  width: 1.3rem;
  height: 1.3rem;
}

.color-swatch:hover .color-swatch-btn {
  opacity: 1;
}

.save-btn {
  box-shadow: 0px 3px 5px 2px var(--shadow-c);
  margin: 0 0 10px;
  background-color: var(--primary-c);

  font-weight: 700;
  color: var(--light-text-c)
}

.palette-actions {
  display: flex;
  gap: 20px;
}

.visible {
  display: unset;
}

@media screen and (max-width: 800px) {
  .palette-properties {
    
  }


  .color-swatch-btn {
    opacity: 1;
  }
}
