.editor-container {
  padding: 1rem;
}

.palette-editor {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.palette-colors {
  flex: 1 1 800px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px; 
  margin: 0 auto;
  align-items: normal;
  flex-wrap: unset;
  justify-content: flex-start;
  height: 60vh;
  align-items: flex-start;
  align-content: flex-start;
  height: fit-content;
}

.palette-item {
  flex: 1 1 80px; /* фиксированная базовая ширина */
  border-radius: 0.4rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: transform 0.2s ease;
  box-shadow: 0px 2px 5px 2px var(--shadow-c);
  background-color: var(--empty-swatch-c);
  position: relative;

  aspect-ratio: 1.7 / 1;
  flex: 0 1 min(30%, 120px);
}


.add-color-btn {
  background: transparent;
  border: var(--empty-swatch-c) 3px dashed;
  box-shadow: none;
  color: var(--empty-swatch-c);
  font-size: 2.6rem;
  min-width: 0;
  min-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-swatch:hover {
  transform: scale(1.05);
}

.palette-properties {
  width: 300px;
  background-color: aquamarine;
}

.color-input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

.delete-color-btn {
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  box-shadow: 0 0 3px 2px var(--shadow-c);
  opacity: 0;
  padding: 2px;
  transition: all 0.3s;
  background-color: var(--bg-c);
  color: var(--text-c);
  border-radius: 19px;
  display: flex;
  align-items: center; justify-content: center;
}

.delete-color-btn svg {
  width: 1.3rem;
  height: 1.3rem;
}

.color-swatch:hover .delete-color-btn {
  opacity: 1;
}

.save-btn {
  box-shadow: 0px 3px 5px 1px var(--shadow-c);
  margin: 20px 0 20px;
}

.visible {
  display: unset;
}

@media screen and (max-width: 800px) {
  .palette-colors {
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    height: fit-content;
  }

  .palette-colors .palette-item {
    aspect-ratio: 1.7 / 1;
    flex: 0 1 min(25%, 120px);
  }

  .delete-color-btn {
    opacity: 1;
  }
}
