.palette-editor {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px;
}

.palette-colors {
  flex: 1 1 800px;
  display: flex;
  flex-wrap: wrap; /* разрешаем перенос строк */
  gap: 10px; /* расстояние между квадратиками */
  margin: 0 auto;
  align-items: normal;
  flex-wrap: unset;
  justify-content: flex-start;
  height: 60vh;
}

.color-swatch {
  flex: 1 1 80px; /* фиксированная базовая ширина */
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
  transition: transform 0.2s ease;
  box-shadow: var(--shadow);
  background-color: var(--empty-swatch-c);
  position: relative;
}

.add-color-btn {
  background: transparent;
  border: var(--empty-swatch-c) 5px solid;
  color: var(--empty-swatch-c);
  font-size: 3em;
  min-width: 0;
  min-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-swatch:hover {
  transform: scale(1.05);
}

.palette-properties {
  width: 300px;
  background-color: aquamarine;
}

.color-input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

.delete-color-btn {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s;
}

.color-swatch:hover .delete-color-btn {
  opacity: 1;
}


.visible {
  display: unset;
}


@media screen and (max-width: 1000px) {
  .palette-colors {
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    height: fit-content;
  }

  .palette-colors .color-swatch {
    aspect-ratio: 1 / 0.6;
    flex: 0 1 min(20%, 100px);
  }

  .add-color-btn {
    font-size: 2em;
  }
}