.editor-container {
  padding: 1rem;
}

.palette-editor {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.palette-colors {
  flex: 1 1 800px;
  display: grid;
  height: 50vh;
  grid-auto-flow: column;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 15px;
  align-items: stretch;
  margin: 0 auto;
}

.palette-item {
  border-radius: 0.4rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: transform 0.2s ease;
  box-shadow: 0px 2px 5px 2px var(--shadow-c);
  background-color: var(--empty-swatch-c);
  position: relative;
  min-height: 100%;
}

.add-color-btn {
  background: transparent;
  border: var(--empty-swatch-c) 3px dashed;
  box-shadow: none;
  color: var(--empty-swatch-c);
  font-size: 2.6rem;
  min-width: 0;
  min-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-swatch:hover {
  transform: scale(1.05);
}

.palette-properties {
  width: 300px;
  background-color: aquamarine;
}

.color-input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

.delete-color-btn {
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  box-shadow: 0 0 3px 2px var(--shadow-c);
  opacity: 0;
  padding: 2px;
  transition: all 0.3s;
  background-color: var(--bg-c);
  color: var(--text-c);
  border-radius: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-color-btn svg {
  width: 1.3rem;
  height: 1.3rem;
}

.color-swatch:hover .delete-color-btn {
  opacity: 1;
}

.save-btn {
  box-shadow: 0px 3px 5px 1px var(--shadow-c);
  margin: 20px 0 20px;
}

.visible {
  display: unset;
}

@media screen and (max-width: 800px) {
  .palette-colors {
    grid-auto-flow: row;
    height: fit-content;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-auto-rows: auto;
    width: 100%;
    margin: 0;
  }

  .palette-colors .palette-item {
    aspect-ratio: 1 / 1;
  }

  .delete-color-btn {
    opacity: 1;
  }
}
